/logger/bin/
/logger/obj/
/IntegrationComponents/ContentBasedRouter/bin/
/IntegrationComponents/ContentBasedRouter/obj/
/IntegrationComponents/MsgExpiration/bin/
/IntegrationComponents/MsgExpiration/obj/
/IntegrationComponents/Normalizer/bin/
/IntegrationComponents/Normalizer/obj/
/IntegrationComponents/Aggregator/bin/
/IntegrationComponents/Aggregator/obj/
/IntegrationComponents/Splitter/bin/
/IntegrationComponents/Splitter/obj/
/stockbrokers/BrokerCSharp/bin/
/stockbrokers/BrokerCSharp/obj/
/diagrams/MOMdocument.odt